h1 {
    text-align:center;
}
h5{
  text-align: center;
  padding:2px ;
}
/*card styling*/
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 200px ;
    text-align: center;
    font-family: arial;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  } 
  /* raw button styling */
  *{box-sizing: border-box;
  margin:0;
padding: 0;}

  .container1{
    background-color:whitesmoke;
    border: 1px solid grey;
    padding: 20px 20px 0px 20px;
    margin: 20px 20px 20px 20px ;
    border-radius: 0%; 
    width:216px;
    height:242px;
    border-radius: 20px;
  }
  
.container1 .plus{object-fit: cover;
  width:161px;
    height:131px;
    border:0px solid black;
}

/*  the page giving option to user so that one can  select either he/she  wants to be the provider or reciever  {css code} 
.container {
  position: relative;
  max-width: 800px;  Maximum width 
  margin: 0 auto;  Center it
} 

.container .content {
  position: absolute;  Position the background text 
  bottom: 0; /* At the bottom. Use top:0 to append it to the top 
  background: rgb(0, 0, 0);  Fallback color 
  background: rgba(0, 0, 0, 0.5);  Black background with 0.5 opacity 
  color: #f1f1f1;  Grey text 
  width: 100%;  Full width 
  padding: 20px;  Some padding 
}
*/
