<!doctype html>
<html lang="en">
  <head>
    *{
      padding: 0;
      margin: 0;
      color: rgb(3, 3, 3);
  }
  body{
      width: 100%;
      height: 100%;
  }
  ::-webkit-scrollbar{
      width: 15px;
  }
  ::-webkit-scrollbar-track{
      background-color: rgb(170, 170, 170);
  }
  ::-webkit-scrollbar-thumb{
      background-color: rgb(29, 28, 28);
      border-radius: 3px;
  }
  
  header{
      position:sticky;
      top: 0;
      width: 100%;
      
  }
  
  .navbar{
      width: 100%;
      background-color:white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 40px;
      box-shadow: 5px 5px 7px rgb(18, 180, 180);
  } 
  
  #logo{
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 30px;
      font-weight: bolder;
      padding-left: 15px;
  }
  
  .search input{
      border-radius: 9px;
      padding: 5px 15px;
      outline: none;
      width:500px;
  }
  
  #Ssearch {
      padding: 5px 15px;
      border-radius: 9px; 
   }
   #Ssearch:hover{
      font-weight:bold;
      text-decoration: underline;
   }
  
  .side a{
      padding: 20px;
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-weight: 600;
      transition: all 500 ease-in-out;
  }
  .side a:hover{
      font-weight: bold;
      text-decoration: underline;
  
  } 
  
  .wraper{
      display: flex;
      
      justify-content:space-around;
      width: 97.3%;
  }
  
  .wraper h1{
      padding-top: 150px;
  }
  .name h1{
      font-size: 55px;
  }
  
  .btn-grp{
      display: flex;
  
  }
  .dropPlace{
      padding-top: 50px;
  }
  
  .dropsize{
      width: 350px;
  }
  .food{
      height: 700px;
      width: 600px;
      padding: 100px 0px;
      border-radius: 50%;
      display: flex;
  }
  
  body{
      margin: 0;
      padding: 0;
      background-color: #2f3542;
      color: #fff;
      height: 100vh;
      font-family: "Montserrat", sans-serif;
     
  }
  body::before{
      content: '';
      background-image: url('https://images.unsplash.com/photo-1449962887303-b4a91c7c560a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmQlMjBpbWFnZSUyMEZPT0R8ZW58MHx8MHx8fDA%3D');
      object-fit: cover ;
      background-repeat: no-repeat;
      background-size: cover;
      object-position: center;
      opacity: 0.5;
      height: 100%;
      width: 100%;
      object-position: center;
      position: absolute;
      z-index: -1;
  }
  
  .animated-text{
      padding-top: 100px;
      font-size: 34px;
      font-weight: 600;
      min-width: 280px;
  }
  
  .animated-text span{
      position: relative;
  }
  
  .animated-text span::before{
      content: "Save food";
      color: #ba0cf4;
      animation: words 20s infinite;
  }
  
  .animated-text span::after{
      content: "";
      position: absolute;
      width: calc(100% + 8px);
      height: 100%;
      background-color: #444241;
      border-left: 2px solid #cc00ff;
      right: -8px;
      animation: cursor .8s infinite, typing 20s steps(14) infinite;
  }
  
  @keyframes cursor {
      to{
          border-left: 2px solid #ff7f5000;
      }
  }
  
  @keyframes words {
      0%,20%{
          content: "See you Smiling";
      }
      21%,40%{
          content: "Stay Healthy";
      }
      41%,60%{
          content: "Spread happiness";
      }
      61%,80%{
          content: "Save resources";
      }
      81%,100%{
          content: "Help each other";
      }
  }
  
  @keyframes typing {
      10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
          width: 0;
      }
      5%,20%,25%,40%,45%,60%,65%,80%,85%{
          width: calc(100% + 8px);
      }
  }




    


 
 
    {% block body %} {% endblock body %}
 


{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
  
    </body>
   

</html>