{% extends 'base.html' %}
{% block title %} donor {% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>food producer</title>
    <link rel="stylesheet" href="donor.css"/>
    <form method= "post" action="/donor" >
      {% csrf_token %}
</head>
<body>
    <div class="container">
        <header>Provider Registration</header>
        <form action="/receiver">
            <div class="form first">
                <span class="title">Personal details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" placeholder=" Enter your name"requied>
                    </div>

                    <div class="input-field">
                        <label>Product Name </label>
                        <input type="text" placeholder="Enter Produt Name" required>
                    </div>

                    <div class="input-field">
                        <div class="checkbox-group">
                            <input type="radio" id="checkbox1" name="checkbox" checked>
                            <label for="checkbox1">Veg</label>
                            <input type="radio" id="checkbox2" name="checkbox">
                            <label for="checkbox2">Nonveg</label>
                          </div>
                        </div>

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input type="text" placeholder=" Enter your mobile number"requied>
                        
                    </div>

                    <div class="input-field">
                       <label>location</label>
                        <input type="text" placeholder="Enter location" required>
                    </div>

                    <div class="input-field">
                        <label>quantity</label>
                        <input type="number" placeholder="Quantity in kgs"requied>
                     </div>
                     <div class="input-field">
                        <label>About product</label>
                        <div class="text">
                            <input type="text" placeholder="about the product" required class="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bbuttons">
                    <button class="button cancel" href="#">Cancel</a>
                    <button class="button edit" href="#">Edit</a>
                    <button class="button confirm" href="/receiver">Confirm</a>
            </div>     
        </form>
    </div>
</body>
</html> 
{% endblock body %}

