{% extends 'base.html' %}
{% block title %} login {% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body{
            background-image: url('/stat/baby.png');
            background-repeat: no-repeat;
            background-size:cover;

        }
    </style>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            
            {% csrf_token %}
            {{ form.as_p }}
           
          <a href="/receiver"><button type="submit">Login</button></a>
        </form>
</body>
</html>
{% endblock body %}
